<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include "/views/public/css.html" ?>
</head>
<body>
    
    <!-- 侧边栏 -->
    <?php include "/views/public/aside.html" ?>
    <!-- 主体 -->
    <div class="main">
        <div class="container-fluid">
            <!-- 头部 -->
            <?php include "/views/public/header.html" ?>
            <div class="body teacher">
                <!-- 面包屑 -->

            </div>
        </div>
    </div>

    <script type="text/html" id="teacher-add-tpl">
        <ol class="breadcrumb">
            <li><a href="javascript:;">讲师管理</a></li>
            <li class="active">{{addtext}}</li>
        </ol>
        <div class="teacher-add">
            <form action="" id="teacherform" class="form-horizontal col-xs-offset-2">
                <input type="hidden" name="tc_id" value="{{tc_id}}"/>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">姓名</label>
                    <div class="col-xs-4">
                        <input type="text" data-describedby="usersname" data-description="username" data-required data-trim value="{{tc_name}}" name="tc_name" class="form-control input-sm" placeholder="讲师名称">
                    </div><label class=" control-label" id="usersname"></label>
                </div>
                {{if !tc_id}}
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">密码</label>
                    <div class="col-xs-4">
                        <input type="password" data-describedby="userspass" data-description="userpass" data-required data-trim   name="tc_pass" class="form-control input-sm">
                    </div><label class=" control-label" id="userspass"></label>
                </div>
                {{/if}}
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">入职时间</label>
                    <div class="col-xs-4">
                        <input type="text"  data-describedby="usersjoindate" data-description="userjoindate" data-required data-trim name="tc_join_date" value="{{tc_join_date}}" class="form-control input-sm">
                    </div><label class=" control-label" id="usersjoindate"></label>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">类型</label>
                    <div class="col-xs-3">
                        <select name="tc_type" class="form-control input-sm" name="addtype">
                            <option value="1"  {{if tc_type==1}}selected{{/if}}>讲师</option>
                            <option value="0" {{if tc_type==0}}selected{{/if}}>管理员</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-3 control-label">性别</label>
                    <div class="col-xs-4">
                        <label class="radio-inline">
                            <input type="radio" value="0" name="tc_gender" {{if tc_gender==0}}checked{{/if}}> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" value="1" name="tc_gender" {{if tc_gender==1}}checked{{/if}}> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-7">
                        <button  class="btn btn-success btn-sm pull-right btnSave">{{btntext}}</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

    <?php include "/views/public/js.html" ?>
    <script>
        require(["static/js/common","static/js/teacher/add"]);
    </script>
</body>
</html>